body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/comic/video-game-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#game-container {
    position: relative;
    z-index: 1;
}
